<h2>Edit Planet: <%= @planet.name %></h2>
<hr>
<form action="/planets/<%= @planet.id %>" method="post">

  Name: <input type="text" name="name" value="<%= @planet.name %>"><br>
  Image: <input type="text" name="image" value="<%= @planet.image %>"><br>
  Orbit: <input type="text" name="orbit" value="<%= @planet.orbit %>"><br>
  Diameter: <input type="text" name="diameter" value="<%= @planet.diameter %>"><br>
  Mass: <input type="text" name="mass" value="<%= @planet.mass %>"><br>
  Moons: <input type="text" name="moons" value="<%= @planet.moons %>"><br>
  Roundness: <input type="text" name="roundness" value="<%= @planet.roundness %>"><br>

  <button>Save</button>

</form>
